<a href="https://colab.research.google.com/github/NimishSinghChouhan/Smart-Bridge-AI/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
df = pd.DataFrame(np.random.randint(0,4,size=(4, 4)), columns=list('ABCD'))

In [2]:
df

   A  B  C  D
0  0  1  0  2
1  1  3  2  1
2  3  3  3  3
3  0  1  3  3

In [3]:
 # Before renaming the columns
print(df.columns)
  
df.set_axis(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], axis='columns', inplace=True)

Index(['A', 'B', 'C', 'D'], dtype='object')

<ipython-input-3-d8c15b968d2f>:4: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  df.set_axis(['Random value 1', 'Random value 2', 'Random value 3', 'Random value 4'], axis='columns', inplace=True)

In [4]:
df

   Random value 1  Random value 2  Random value 3  Random value 4
0               0               1               0               2
1               1               3               2               1
2               3               3               3               3
3               0               1               3               3

In [5]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         1.000000        2.000000        2.000000        2.250000
std          1.414214        1.154701        1.414214        0.957427
min          0.000000        1.000000        0.000000        1.000000
25%          0.000000        1.000000        1.500000        1.750000
50%          0.500000        2.000000        2.500000        2.500000
75%          1.500000        3.000000        3.000000        3.000000
max          3.000000        3.000000        3.000000        3.000000

In [6]:
df.isnull().values.any()

False

In [7]:
# There are 3 ways
df2 = df[["Random value 2","Random value 3"]] 
df2 = df.loc[:, ["Random value 2","Random value 3"]]
df2 = df.get(['Random value 2','Random value 3'])
df2

   Random value 2  Random value 3
0               1               0
1               3               2
2               3               3
3               1               3